<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>CatalogController</servlet-name>
        <servlet-class>variety.controllers.CatalogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Catalog2Controller</servlet-name>
        <servlet-class>variety.controllers.Catalog2Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Catalog3Controller</servlet-name>
        <servlet-class>variety.controllers.Catalog3Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>variety.controllers.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogController</servlet-name>
        <url-pattern>/catalog/1/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Catalog2Controller</servlet-name>
        <url-pattern>/catalog/2/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Catalog3Controller</servlet-name>
        <url-pattern>/catalog/3/product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Enable the custom error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>
</web-app>
